Cliente/Proxies/Web References/Persona/PersonaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Guardar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="personamsj" type="tns:PersonaMSJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersonaMSJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SECUENCIAL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CODIGOTIPOIDENTIFICACION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDENTIFICACION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRIMERNOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEGUNDONOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRIMERAPELLIDO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEGUNDOAPELLIDO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ESTAACTIVO" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuardarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarResult" type="tns:PersonaMSJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult" type="tns:ArrayOfPersonaMSJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonaMSJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonaMSJ" nillable="true" type="tns:PersonaMSJ" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarPorIdentificacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPorIdentificacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPorIdentificacionResult" type="tns:PersonaMSJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarSoapIn">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="GuardarSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPorIdentificacionSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPorIdentificacion" />
  </wsdl:message>
  <wsdl:message name="BuscarPorIdentificacionSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPorIdentificacionResponse" />
  </wsdl:message>
  <wsdl:portType name="PersonaWSSoap">
    <wsdl:operation name="Guardar">
      <wsdl:input message="tns:GuardarSoapIn" />
      <wsdl:output message="tns:GuardarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorIdentificacion">
      <wsdl:input message="tns:BuscarPorIdentificacionSoapIn" />
      <wsdl:output message="tns:BuscarPorIdentificacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonaWSSoap" type="tns:PersonaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorIdentificacion">
      <soap:operation soapAction="http://tempuri.org/BuscarPorIdentificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PersonaWSSoap12" type="tns:PersonaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap12:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorIdentificacion">
      <soap12:operation soapAction="http://tempuri.org/BuscarPorIdentificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaWS">
    <wsdl:port name="PersonaWSSoap" binding="tns:PersonaWSSoap">
      <soap:address location="http://localhost/Servidor/Servicios/PersonaWS.asmx" />
    </wsdl:port>
    <wsdl:port name="PersonaWSSoap12" binding="tns:PersonaWSSoap12">
      <soap12:address location="http://localhost/Servidor/Servicios/PersonaWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>